<table class="sudoku-3x3-table">
    <tr data-row="{{row3x}}">
        <td data-row="{{row3x}}" data-column="{{column3x}}"></td>
        <td data-row="{{row3x}}" data-column="{{column3xplus1}}"></td>
        <td data-row="{{row3x}}" data-column="{{column3xplus2}}"></td>
    </tr>
    <tr data-row="{{row3xplus1}}">
        <td data-row="{{row3xplus1}}" data-column="{{column3x}}"></td>
        <td data-row="{{row3xplus1}}" data-column="{{column3xplus1}}"></td>
        <td data-row="{{row3xplus1}}" data-column="{{column3xplus2}}"></td>
    </tr>
    <tr data-row="{{row3xplus2}}">
        <td data-row="{{row3xplus2}}" data-column="{{column3x}}"></td>
        <td data-row="{{row3xplus2}}" data-column="{{column3xplus1}}"></td>
        <td data-row="{{row3xplus2}}" data-column="{{column3xplus2}}"></td>
    </tr>
</table>